﻿@model NoteApplication.ViewModels.NoteViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Pages/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6">
            @Html.AntiForgeryToken()
            @using (Html.BeginForm("Delete", "Notes", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="form-group">
                    <p> Are you sure you want to delete note @Html.DisplayFor(x => Model.Title) ?</p>
                    @Html.HiddenFor(model => model.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.Id, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
                <input type="submit" value="Delete" class="btn btn-danger" />
            }
        </div>
    </div>
</div>

<style>
    .row {
        margin-top: 40px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-heading div {
        margin-top: -18px;
        font-size: 15px;
    }

        .panel-heading div span {
            margin-left: 5px;
        }

    .panel-body {
        display: none;
    }
</style>
