﻿@model NoteApplication.ViewModels.NoteViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/_Layout.cshtml";
}

@Html.DropDownListFor(model => model.Id, new SelectList(new[]{"Exemplo1",
"Exemplo2", "Exemplo3"}))
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>

<div>
    <a class="btn btn-warning" href="../Notes/Edit/@Model.Id" role="button">Edit</a>
</div>
