﻿@model IEnumerable<NoteApplication.ViewModels.NoteViewModel>
@{
    ViewData["Title"] = "Notes";
    Layout = "~/Pages/_Layout.cshtml";
}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="row">
                            <div class="col-xs-6">
                                <h5><span class="glyphicon glyphicon-pencil"></span> Notes</h5>
                            </div>
                            <div class="col-xs-6">
                                <a class="btn btn-success btn-sm btn-block" href="~/notes/create" role="button">
                                    <i class="fa fa-plus" aria-hidden="true"></i>
                                    Create note
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <table class="table table-hover" id="dev-table">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Id)</th>
                            <th>@Html.DisplayNameFor(model => model.Title)</th>
                            <th>@Html.DisplayNameFor(model => model.Description)</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    <a class="btn btn-warning" href="~/notes/edit/@item.Id" role="button">
                                        <i class="fa fa-cog"></i>
                                        Edit
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" href="~/notes/delete/@item.Id" role="button">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        Delete
                                    </a>
                                </td>
                                <td>
                                    <a class="btn btn-info" href="~/notes/@item.Id" role="button">
                                        <i class="fa fa-info-circle" aria-hidden="true"></i>
                                        Details
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--  <a class="btn btn-success" href="~/notes/create" role="button">
               <i class="fa fa-plus" aria-hidden="true"></i>
               Create note
          </a>
    -->
</div>

<style>
    .container {
        font-family: Constantia, 'Times New Roman', sans-serif;
        background-color: aliceblue;
        font-size: 16px;
    }

    .row {
        margin-top: 10px;
        padding: 0 10px;
    }

    .clickable {
        cursor: pointer;
    }

    .panel-body {
        display: none;
    }

    table {
        background-color: aliceblue;
    }
</style>

<script>
    (function () {
        'use strict';
        var $ = jQuery;
        $.fn.extend({
            filterTable: function () {
                return this.each(function () {
                    $(this).on('keyup', function (e) {
                        $('.filterTable_no_results').remove();
                        var $this = $(this), search = $this.val().toLowerCase(), target = $this.attr('data-filters'), $target = $(target), $rows = $target.find('tbody tr');
                        if (search == '') {
                            $rows.show();
                        } else {
                            $rows.each(function () {
                                var $this = $(this);
                                $this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
                            })
                            if ($target.find('tbody tr:visible').size() === 0) {
                                var col_count = $target.find('tr').first().find('td').size();
                                var no_results = $('<tr class="filterTable_no_results"><td colspan="' + col_count + '">No results found</td></tr>')
                                $target.find('tbody').append(no_results);
                            }
                        }
                    });
                });
            }
        });
        $('[data-action="filter"]').filterTable();
    })(jQuery);

    $(function () {
        // attach table filter plugin to inputs
        $('[data-action="filter"]').filterTable();

        $('.container').on('click', '.panel-heading span.filter', function (e) {
            var $this = $(this),
                $panel = $this.parents('.panel');

            $panel.find('.panel-body').slideToggle();
            if ($this.css('display') != 'none') {
                $panel.find('.panel-body input').focus();
            }
        });
        $('[data-toggle="tooltip"]').tooltip();
    })</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
